<html>
<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
function renewHost() {
	var forms = $("form");
	var host = $("#host").val();
	var port = $("#port").val();
	var fullpath = "http://"+host+":"+port+"/users/";

	$("form").each(function() {
		var subpath = this.id;
		this.action = fullpath+subpath+"/";
	});
}

</script>
<title>enQuest User Module Test Form</title>
</head>
</body>
Host: <input onchange="renewHost()" id="host" value="localhost"/>
Port: <input onchange="renewHost()" id="port" value="8000"/>
<br/>You are currently logged in as <b>{{curr_user}}</b>.
<h1>Exist</h1>
<form id="exist" method="get">
Username: <input name="u"/><br/>
Email: <input name="e"/><br/>
Callback: <input name="callback"/><br/>
<input type="submit" value="Try it">
</form>
<h1>Login</h1>
<form id="login" method="post">{% csrf_token %}
Username: <input name="username"/><br/>
Password: <input name="password" type="password"/><br/>
Callback: <input name="callback"/><br/>
<input type="submit" value="Try it">
</form>
<h1>Logout</h1>
<form id="logout" method="post">{% csrf_token %}
<input type="submit" value="Try it">
</form>
<h1>Register</h1>
<h2>Regular</h2>
<form id="register" method="post">{% csrf_token %}
Username: <input name="username"/><br/>
Password: <input name="password" type="password"/><br/>
Email:<input name="email"/><br/>
Callback: <input name="callback"/><br/>
<input type="submit" value="Try it"><br/>
</form>
<h2>Facebook</h2>
Login with <a href="{% url 'socialauth_begin' 'facebook' %}">Facebook</a>

<!--<form id="fb" method="post">{% csrf_token %}
<input name="fb" value="true" type="hidden"/>
<input type="submit" value="Try it"><br/>
</form>-->
</body>
<script>
renewHost();
</script>
</html>
